<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <title>Abuela!</title>

  </head>

  <body>

    <h1>Abuela!</h1>
    <h3>Dile algo a la abuela:</h3>
    <form action="/nuevo/objeto" method="post">
      <input type="text" placeholder="Escribe la frase" name="frase"></input>
      <input type="submit" value="Dilo!"></input>
    </form>

  </body>
</html>
